.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0px 5px;
  width: 300px;

  &navBtn {
  background-color: transparent;
  }

  &fas {
  font-size: 12px;
  padding: 5px;
  }

  &chosenMonth {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  margin: 25px 0px;
  padding: 0 40px;
  }
}








