$btn-bg: #48BA46;

.calendarRow {
    max-height: 64px;
    text-align: center;

    &__addVacationBtn {
    width: 144px;
    min-height: 40px;
    background: $btn-bg;
    border-radius: 7px;
    border: none;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    &__outputItem {
    width: 34px;
    line-height: 28px;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(192, 192, 192);
  }

  &__addVacationCell {
    max-width: fit-content;
    padding: 0 85px 24px 0;
    margin: 0;
    border-top: none;
    border-left: none;
  }

  &__outputDay {
    display: block;
    padding: 7px;
    font-size: 12px;
    line-height: 18px;
  }

  &__outputDate {
    display: inline-block;
    text-align: center;
    color: #000;
    font-size: 14;
    font-weight: 600;
    line-height: 21px;
  }
}

.sumCell {
  width: 34px;
  font-size: 12px;
  line-height: 18px;
  background: #F0F0F0;
  border: 1px solid rgb(192, 192, 192);
}

.plus{
  font-size: 24px;
  padding-right: 10px;
}









