$front-color: #9b99ff;
$designer-color: #7aafff;
$backend-color: #ff9999;
$manager-color: #ffa768;
$main-row: #F3F3F3;
$teamHeader-bg: rgba(155, 153, 255, 0.1);
$btn-bg: #48BA46;

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.wrapper {
  padding: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1323px;
}
table {
  border-collapse: collapse;
}
tbody::after {
  height: 34px;
  display: block;
  content: " ";
}
td {
  border: 1px solid #D7D7D7;
}
button {
  cursor: pointer;
  display: inline-block;
  border: none;
  outline: none;
  transition: opacity 0.2s;
}
button:hover {
  opacity: 0.8;
}
.day {
  min-width: 34px;
  height: 34px;
  border: 1px solid #D7D7D7;
}
.department {
  &_inform {
    border: 1px solid #D7D7D7;
  }
  &_title {
     font-size: 20px;
     font-weight: bold;
  }
  &_countMembersIcon{
    display: inline-block;
    margin-left: 15px;
  }
  &_procent {
    display: inline-block;
    margin-left: 15px;
  }
  &_hideArrow {
    display: inline-block;
    margin-left: 15px;
    &:hover {
      cursor: pointer;
    }
  }
}
.member {
  &_name {
    font-size: 15px;
    border: 1px solid #D7D7D7;
  }
  &_sum {
    text-align: center;
  }

}

.rotateArrow {
  i {
     transform: rotate(180deg);
    }

}
.restDay {
  background: #F0F0F0;
}